.div_menu{
    background-color: black;
    margin-bottom: 5pt;
}
.menu{
    color: white;
    padding: 2pt;
}
.slider-div{
    padding-left: 50px;
}
p{
    text-align: justify;
}
footer{
    background-color: black;
}
.footer{
    font-weight: bolder;
    text-align: center;
    color: white;
}
.footer-alamat{
    text-align: center;
    color: white;
}
